* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: #e3e9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}

.addTodoContainer {
  width: 400px;
  background-color: #fff;
  padding: 1rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  border-radius: 0.2rem;
}

.addTodoContainer input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.addTodoContainer input::placeholder {
  color: #b2b2b2;
}

.addTodoContainer button {
  padding: 0.5rem 1rem;
  border: none; 
  background-color: #af7eeb;
  color: #fff;
  border-radius: 0.2rem;
}

.addTodoContainer button:hover {
  background-color: #a573e2;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.2rem;
}

li {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}

li:last-child {
  margin-bottom: 0rem;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ span::after {
  display: block;
}

input[type="checkbox"]:checked ~ span {
  background-color: #af7eeb;
}

span:hover {
  background-color: #ccc;
}

span {
  position: absolute;
  left: 0;
  top: 2px;
  width: 1rem;
  height: 1rem;
  background-color: #eee;
  border-radius: 0.2rem;
}

span::after {
  content: "";
  width: 4px;
  height: 8px;
  display: none;
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.clicked {
  text-decoration: line-through;
}

.deleteIcon {
  box-sizing: content-box;
  color: #b2b2b2;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.deleteIcon:hover {
  color: #757575;
  background-color: #eee;
  border-radius: 50%;
}

@media screen and (max-width:600px){
  body {
    padding: 1rem;
  }
  .addTodoContainer {
  width: 100%;
  grid-template-columns: 6fr 4fr;
  }
}